.login {
    background-color: #f7f9fa;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;
}

.login_link{
    text-align: center;
}

.login_logo {
    width: 100px;
    margin:0px;
}

.login_container {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
}

.login_container > h1 {
    font-weight: 650;
    margin-bottom: 5px;
    text-align: center;
    margin:0px;
  }

.login_container > form > h5 {
    margin-bottom: 5px;
    margin-top: 0px;
}

.login_container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
  }

.login_container > p {
    margin-top: 15px;
    font-size: 12px;
}

.login_signInButton {
    background: #051e3c;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: white;
  }

  .login_registerButton {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    background: #d38c30;
    color: white;
    border-color: darkgray;
  }